Repository dgonzo27/py-iot-utils, changes with the labels that .github/labeler.yml gives for each.
All labels: iot-edge-logger, iot-edge-validator, iot-ftps-client, iot-samba-client, iot-storage-client, documentation, workflow-actions

🐞 fix for context byte streaming
  docs/public/static/changelog/iotFtpsClient.md
  iot-ftps-client/CHANGELOG.md
  iot-ftps-client/iot/ftps/client/_client.py
  iot-ftps-client/iot/ftps/client/_version.py
Labels: iot-ftps-client, documentation

🐳 container level SAS!
  docs/public/static/changelog/iotStorageClient.md
  docs/public/static/packages/iotStorageClient.md
  docs/public/static/packages/iotStorageClientAsync.md
  iot-storage-client/CHANGELOG.md
  iot-storage-client/iot/storage/client/_aioclient.py
  iot-storage-client/iot/storage/client/_client.py
  iot-storage-client/iot/storage/client/_helpers.py
  iot-storage-client/iot/storage/client/_version.py
Labels: iot-storage-client, documentation

update logger example
  docs/public/static/packages/iotEdgeLogger.md
  iot-edge-logger/iot/edge/logger/_logger.py
Labels: none

🐳 container level SAS! (#33)
  docs/public/static/changelog/iotStorageClient.md
  docs/public/static/packages/iotEdgeLogger.md
  docs/public/static/packages/iotStorageClient.md
  docs/public/static/packages/iotStorageClientAsync.md
  iot-edge-logger/iot/edge/logger/_logger.py
  iot-storage-client/CHANGELOG.md
  iot-storage-client/iot/storage/client/_aioclient.py
  iot-storage-client/iot/storage/client/_client.py
  iot-storage-client/iot/storage/client/_helpers.py
  iot-storage-client/iot/storage/client/_version.py
Labels: iot-storage-client, documentation

➕ / ➖ create and delete containers
  docs/public/static/changelog/iotStorageClient.md
  docs/public/static/packages/iotStorageClient.md
  docs/public/static/packages/iotStorageClientAsync.md
  iot-storage-client/CHANGELOG.md
  iot-storage-client/iot/storage/client/_aioclient.py
  iot-storage-client/iot/storage/client/_client.py
  iot-storage-client/iot/storage/client/_version.py
Labels: iot-storage-client, documentation

➕ / ➖ create and delete containers (#35)
  docs/public/static/changelog/iotStorageClient.md
  docs/public/static/packages/iotStorageClient.md
  docs/public/static/packages/iotStorageClientAsync.md
  iot-storage-client/CHANGELOG.md
  iot-storage-client/iot/storage/client/_aioclient.py
  iot-storage-client/iot/storage/client/_client.py
  iot-storage-client/iot/storage/client/_version.py
Labels: iot-storage-client, documentation

🔐 SSL termination handling
  docs/public/static/changelog/iotFtpsClient.md
  iot-ftps-client/CHANGELOG.md
  iot-ftps-client/iot/ftps/client/_client.py
  iot-ftps-client/iot/ftps/client/_version.py
Labels: iot-ftps-client, documentation

🔐 SSL termination handling (#37)
  docs/public/static/changelog/iotFtpsClient.md
  iot-ftps-client/CHANGELOG.md
  iot-ftps-client/iot/ftps/client/_client.py
  iot-ftps-client/iot/ftps/client/_version.py
Labels: iot-ftps-client, documentation

🚀 Deploy Docs to GCP
  .github/workflows/documentation.yml
  README.md
  docs/public/static/changelog/iotEdgeLogger.md
  docs/public/static/changelog/iotEdgeValidator.md
  docs/public/static/changelog/iotFtpsClient.md
  docs/public/static/changelog/iotSambaClient.md
  docs/public/static/changelog/iotStorageClient.md
  docs/public/static/packages/iotEdgeLogger.md
  docs/public/static/packages/iotEdgeValidator.md
  docs/public/static/packages/iotFtpsClient.md
  docs/public/static/packages/iotSambaClient.md
  docs/public/static/packages/iotStorageClient.md
  docs/public/static/packages/iotStorageClientAsync.md
  iot-edge-logger/CHANGELOG.md
  iot-edge-logger/README.md
  iot-edge-logger/iot/edge/logger/_version.py
  iot-edge-validator/CHANGELOG.md
  iot-edge-validator/README.md
  iot-edge-validator/iot/edge/validator/_version.py
  iot-edge-validator/setup.py
  iot-ftps-client/CHANGELOG.md
  iot-ftps-client/README.md
  iot-ftps-client/iot/ftps/client/_version.py
  iot-samba-client/CHANGELOG.md
  iot-samba-client/README.md
  iot-samba-client/iot/samba/client/_version.py
  iot-storage-client/CHANGELOG.md
  iot-storage-client/README.md
  iot-storage-client/iot/storage/client/_version.py
Labels: iot-edge-logger, iot-edge-validator, iot-ftps-client, iot-samba-client, iot-storage-client, documentation

🚀 Deploy Docs to GCP (#39)
  .github/workflows/documentation.yml
  README.md
  docs/public/static/changelog/iotEdgeLogger.md
  docs/public/static/changelog/iotEdgeValidator.md
  docs/public/static/changelog/iotFtpsClient.md
  docs/public/static/changelog/iotSambaClient.md
  docs/public/static/changelog/iotStorageClient.md
  docs/public/static/packages/iotEdgeLogger.md
  docs/public/static/packages/iotEdgeValidator.md
  docs/public/static/packages/iotFtpsClient.md
  docs/public/static/packages/iotSambaClient.md
  docs/public/static/packages/iotStorageClient.md
  docs/public/static/packages/iotStorageClientAsync.md
  iot-edge-logger/CHANGELOG.md
  iot-edge-logger/README.md
  iot-edge-logger/iot/edge/logger/_version.py
  iot-edge-validator/CHANGELOG.md
  iot-edge-validator/README.md
  iot-edge-validator/iot/edge/validator/_version.py
  iot-edge-validator/setup.py
  iot-ftps-client/CHANGELOG.md
  iot-ftps-client/README.md
  iot-ftps-client/iot/ftps/client/_version.py
  iot-samba-client/CHANGELOG.md
  iot-samba-client/README.md
  iot-samba-client/iot/samba/client/_version.py
  iot-storage-client/CHANGELOG.md
  iot-storage-client/README.md
  iot-storage-client/iot/storage/client/_version.py
Labels: iot-edge-logger, iot-edge-validator, iot-ftps-client, iot-samba-client, iot-storage-client, documentation

🥷 Private Endpoint Client
  docs/public/static/changelog/iotStorageClient.md
  docs/public/static/packages/iotStorageClient.md
  docs/public/static/packages/iotStorageClientAsync.md
  iot-storage-client/CHANGELOG.md
  iot-storage-client/iot/storage/client/_aioclient.py
  iot-storage-client/iot/storage/client/_client.py
  iot-storage-client/iot/storage/client/_helpers.py
  iot-storage-client/iot/storage/client/_version.py
Labels: iot-storage-client, documentation

🥷 Private Endpoint Client (#41)
  docs/public/static/changelog/iotStorageClient.md
  docs/public/static/packages/iotStorageClient.md
  docs/public/static/packages/iotStorageClientAsync.md
  iot-storage-client/CHANGELOG.md
  iot-storage-client/iot/storage/client/_aioclient.py
  iot-storage-client/iot/storage/client/_client.py
  iot-storage-client/iot/storage/client/_helpers.py
  iot-storage-client/iot/storage/client/_version.py
Labels: iot-storage-client, documentation

🚗 auto-resolve dns
  docs/public/static/changelog/iotStorageClient.md
  docs/public/static/packages/iotStorageClient.md
  docs/public/static/packages/iotStorageClientAsync.md
  iot-storage-client/CHANGELOG.md
  iot-storage-client/iot/storage/client/_aioclient.py
  iot-storage-client/iot/storage/client/_client.py
  iot-storage-client/iot/storage/client/_helpers.py
  iot-storage-client/iot/storage/client/_version.py
Labels: iot-storage-client, documentation

🚗 auto-resolve dns (#43)
  docs/public/static/changelog/iotStorageClient.md
  docs/public/static/packages/iotStorageClient.md
  docs/public/static/packages/iotStorageClientAsync.md
  iot-storage-client/CHANGELOG.md
  iot-storage-client/iot/storage/client/_aioclient.py
  iot-storage-client/iot/storage/client/_client.py
  iot-storage-client/iot/storage/client/_helpers.py
  iot-storage-client/iot/storage/client/_version.py
Labels: iot-storage-client, documentation

.github/labeler.yml:

iot-edge-logger:
  - iot-edge-logger/*

iot-edge-validator:
  - iot-edge-validator/*

iot-ftps-client:
  - iot-ftps-client/*

iot-samba-client:
  - iot-samba-client/*

iot-storage-client:
  - iot-storage-client/*

documentation:
  - README.md
  - ./*.md
  - ./*/*.md

workflow-actions:
  - .github/*
