Repository dgonzo27/py-iot-utils, changes with the labels that .github/labeler.yml gives for each.
All labels: iot-edge-logger, iot-edge-validator, iot-samba-client, iot-storage-client, documentation

👀 update PR template
  .github/pull_request_template.md
Labels: documentation

edge logger unit tests
  .github/assets/loggingArchitecture.png
  .github/workflows/test-edge-logger.yml
  iot-edge-logger/CHANGELOG.md
  iot-edge-logger/README.md
  iot-edge-logger/iot/edge/logger/_version.py
  iot-edge-logger/tests/test_logger.py
  iot-edge-logger/tests/test_version.py
Labels: iot-edge-logger, documentation

fix readme bug
  iot-edge-logger/README.md
  iot-edge-logger/assets/loggingArchitecture.png
Labels: iot-edge-logger, documentation

update version
  iot-edge-logger/CHANGELOG.md
  iot-edge-logger/iot/edge/logger/_version.py
Labels: iot-edge-logger, documentation

fix bugs
  iot-samba-client/CHANGELOG.md
  iot-samba-client/iot/samba/client/__init__.py
  iot-samba-client/iot/samba/client/_version.py
  iot-storage-client/CHANGELOG.md
  iot-storage-client/iot/storage/client/__init__.py
  iot-storage-client/iot/storage/client/_version.py
Labels: iot-samba-client, iot-storage-client, documentation

.github/labeler.yml:

iot-edge-logger:
  - iot-edge-logger/*

iot-edge-validator:
  - iot-edge-validator/*

iot-samba-client:
  - iot-samba-client/*

iot-storage-client:
  - iot-storage-client/*

documentation:
  - README.md
  - ./*.md
  - ./*/*.md
