Repository dgonzo27/py-iot-utils, changes with the labels that .github/labeler.yml gives for each.
All labels: iot-edge-logger, iot-edge-validator, iot-samba-client, iot-sftp-client, iot-storage-client, documentation, workflow-actions

🧪 more testing
  .github/workflows/tester.yml
  CONTRIBUTING.md
  dev-requirements.txt
  docs/public/static/contributingGuide.md
  iot-samba-client/iot/samba/client/_client.py
  iot-samba-client/tests/test_client.py
  iot-sftp-client/iot/sftp/client/_client.py
  iot-sftp-client/tests/test_client.py
  iot-storage-client/tests/test_integration_client.py
Labels: documentation

🧪 update tests
  iot-samba-client/iot/samba/client/_client.py
Labels: none

🧪 more tests
  .github/workflows/tester.yml
  docs/public/static/packages/iotEdgeLogger.md
  iot-edge-logger/iot/edge/logger/_logger.py
  iot-edge-validator/tests/test_exceptions.py
  iot-edge-validator/tests/test_validator.py
  iot-sftp-client/tests/test_client.py
  iot-storage-client/iot/storage/client/_client.py
  iot-storage-client/iot/storage/client/_helpers.py
  iot-storage-client/tests/test_client.py
Labels: none

updated versions
  docs/public/static/changelog/iotEdgeLogger.md
  docs/public/static/changelog/iotEdgeValidator.md
  docs/public/static/changelog/iotSambaClient.md
  docs/public/static/changelog/iotSftpClient.md
  iot-edge-logger/CHANGELOG.md
  iot-edge-logger/iot/edge/logger/_version.py
  iot-edge-validator/CHANGELOG.md
  iot-edge-validator/iot/edge/validator/_version.py
  iot-samba-client/CHANGELOG.md
  iot-samba-client/iot/samba/client/_version.py
  iot-sftp-client/CHANGELOG.md
  iot-sftp-client/iot/sftp/client/_version.py
Labels: iot-edge-logger, iot-edge-validator, iot-samba-client, iot-sftp-client, documentation

update release template
  .github/release_template.md
Labels: documentation, workflow-actions

.github/labeler.yml:

iot-edge-logger:
  - iot-edge-logger/*

iot-edge-validator:
  - iot-edge-validator/*

iot-samba-client:
  - iot-samba-client/*

iot-sftp-client:
  - iot-sftp-client/*

iot-storage-client:
  - iot-storage-client/*

documentation:
  - README.md
  - ./*.md
  - ./*/*.md

workflow-actions:
  - .github/*
